*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/fond.png');
    background-color: #2b2b2b80;
    background-blend-mode: overlay;
    background-position-x: center;
}
.titre {
    max-width: 90vw;
}
.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: #a8a8a8;
}
.card {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: #f1f1f1;
    border-radius: 20px;
}
.copy {
    text-decoration: underline;
}
.copy:hover {
    cursor: pointer;
}
.info {
    font-size: 0.6em;
    margin-top: 1em;
    color: #f1f1f19c;
}
.download {
    position: relative;
    font-size: 1.5em;
    color: #f1f1f1;
    border: #f1f1f1 solid 2px;
    padding: 0.5em;
    text-decoration: none;
}
.download::before {
    position: absolute;
    content: "";
    background-color: #f1f1f19c;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: ease-in-out 0.5s;
}
.download:hover {
    cursor: pointer;
}
.download:hover::before {
    width: 100%;
}
.download:hover p {
    color: #2b2b2b;
}
.download p {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
    transition: ease-in-out 0.5s;
}
.credits {
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-family: 'Courier New', Courier, monospace;
    transform: translateX(-50%);
    text-decoration: none;
    color: #aaaaaa;
    background-color: #2b2b2bb0;
    padding: 0.3em;
    border-radius: 10px 10px 0 0;
    opacity: 50%;
}
.credits::after {
    content: "aller sur le site web";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.5em;
    transform: translateY(100%);
    background-color: #2b2b2bb0;
    text-decoration: underline;
    display: none;
}
.credits:hover {
    bottom: 1.7em;
    opacity: 100%;
}
.credits:hover::after {
    display: block;
}