*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/fond.png');
    background-color: #2b2b2b80;
    background-blend-mode: overlay;
    background-position-x: center;
}
.titre {
    max-width: 90vw;
}
.subtitle {
    font-family: 'Courier New', Courier, monospace;
    color: #a8a8a8;
}
.card {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: #f1f1f1;
    border-radius: 20px;
}
.download {
    position: relative;
    font-size: 1.5em;
    color: #f1f1f1;
    border: #f1f1f1 solid 2px;
    padding: 0.5em;
    text-decoration: none;
}
.download::before {
    position: absolute;
    content: "";
    background-color: #f1f1f19c;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: ease-in-out 0.5s;
    z-index: -1;
}
.download:hover {
    cursor: pointer;
}
.download:hover::before {
    width: 100%;
}
.download:hover p {
    color: #2b2b2b;
    z-index: 1;
}
.download p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
}